/*------------------------------------*\
    		$SETTINGS
\*------------------------------------*/

/* ============== // Transition // ============== */

$time: .3s;
$transition-method: ease-in-out;


/* ============== // FONTS // ============== */
/* ============== // COLORS // ============== */
$principal : #1a1a1a;
$main : #003a5d;
$darkmain : #002c46;
$darkgray: #76777b;
$gray : #dad9d7;
$lightgray : #f0f0ef;
$secundario : #ff5900;